body {
  font-family: Arial, sans-serif;
  background-color: rgba(238, 255, 0, 0.911);
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #0078d7;
  margin-bottom: 30px;
}

.filtros {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto 30px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.campo label {
  font-weight: bold;
}

.linha {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.linha input[type="date"] {
  flex: 1;
  min-width: 140px;
}

input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  padding: 8px 16px;
  background-color: #0078d7;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

#mensagem {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.sugestoes-box {
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sugestoes-box div:hover {
  background-color: #f0f0f0;
}